
@{
   
}

<div class="admin-menu">
    <div class="item-admin-menu"><a href="/listmoderators">Cписок менеджеров</a></div><span class="ponterline">|</span>
    <div class="item-admin-menu"><a href="/listmeneger">Список всех работников</a></div>
    <div></div>
</div>

