@{
    ViewBag.Title = "Авторизация";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система оценки качества операторов</title>
    <link rel="stylesheet" href="~/content/Site.css" media="all">
</head>
<body>
    @Html.Partial("~/Views/Shared/header.cshtml", "")
    <h2 style="text-align: center;">Система оценки качества операторов</h2>
    <div class="mainblock">


    </div>
    @Html.Partial("~/Views/Shared/footer.cshtml", "")
</body>
</html>